/*selector universal*/


*{
    margin:0;
    padding:0;
}

/*selector de etiqueta*/

body
{
    background-image: url(/img/isi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
color: rgb(0, 0, 0);
}
/*selector id */

/* #menu
{
    height: 6%;
    background-color: rgb(150, 217, 236);
    margin: 1em;
    border-radius: 5px;
} */
#menuu
{
    height: 6%;
    background-color: rgb(178, 218, 244);
    margin: 1em;
    border-radius: 5px;

}
/*selector de etiqueta para el menu*/
ul
{
    text-align: center;
    padding: 10px;

}
li
{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a:hover
{
    color: crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    
}
/*¨selector de clase*/
.img
{
width: 50%;
border-radius: 50px;
justify-items: center;
}
#encabezado img:hover
{
    
 width: 50%;
    
}
.texto
{
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
    font-size: 20PX;
    padding: 5PX 25PX;
    color: black;
}
#pie
{
 height: 45px;
 background-color:#a4c1eb;
 margin: 1.5em;
 text-align: center;
 padding: 5px;
 border-radius: 5px;

}
#pie h4
{
    padding: 20px;
    font-size: 20px;
    color: rgb(13, 13, 15);
}
/*card*/
.card
{
    box-shadow: 5px 5px rgb(85, 69, 69) ;
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 2em;
} 
.card:hover
{
    max-width: 280px;
}
.card img
{
    width:70%;
}
.title
{
    color:rgb(red, green, blue);
    font-size: 18px;
}
button 
{
    border: none;
    outline:0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
button:hover
{
    background-color: dimgray;
}
.contenedorFlex
{
    display: flex;
    width: 90%;
    height: 300%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
   
    background-color:#9fe1fa;
    border: 2px solid rgb(255, 251, 251);
}

/* =========================================== */

.card {
    position: relative;
}
.card:hover .cardtext {
    /* opacity: 1; */
    display: block;
}
.cardtext {
    background-color: red;
    /* opacity: .25; */
    display: none;
    position: absolute;
    inset: 0;
}

.menu {
    height: 6%;
    background-color: rgb(150, 217, 236);
    margin: 1em;
    border-radius: 5px;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}

@media(max-width:991px)
{
    .menu
    {
        padding: 30px;
    }
    .menu label
    {
        display:initial;
    }
    .menu .navbar
    {
        background-color: rgb(5, 5, 4);
        display: none;
    }
    .menu .navbar ul li
     {
        width: 100%;
    }    
    #menu:checked ~ .navbar
    {
        display: initial;
    }
}
