*{
    box-sizing: border-box;
}
.contenedorFlex{
    display: flex;
    width: 1000px;
    flex-direction: row;
    background-color: rgb(81, 110, 154);
    padding: 10px;
    border: 2px solid black;
     
}


.contenedorflexwr{

    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(9, 151, 33);
    }
   



    .contenedorflexAIC{

        display: flex;
        width: 500px;
        height: 400px;
        flex-direction:row;
        align-items: center;
        padding: 10px;
        border: 2px solid black;
        background-color: rgb(204, 122, 16);
        }

        .contenedorflexAIC1{

            display: flex;
            width: 500px;
            height: 400px;
            justify-content: center;
            flex-direction:row;
            align-items: center;
            padding: 10px;
            border: 2px solid black;
            background-color: rgb(228, 17, 17);
            }

       
    .contenedorflexAIE{

        display: flex;
        width: 500px;
        height: 400px;
        flex-direction:row;
        align-items:end;
        padding: 10px;
        border: 2px solid black;
        background-color: rgb(16, 204, 116);
        }

        .contenedorflexAIESTRECH{

            display: flex;
            width: 500px;
            height: 400px;
            flex-direction:row;
            align-items:stretch;
            padding: 10px;
            border: 2px solid black;
            background-color: rgb(16, 204, 116);
            }
       







.contenedorflexj{

    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(48, 121, 85);
    }

 
   
    .contenedorflexj1{

        display: flex;
        width: 800px;
        flex-direction: row;
        justify-content: end;
        padding: 10px;
        border: 2px solid black;
        background-color: rgb(120, 121, 48);
        }
   



           
    .contenedorflexj2{

        display: flex;
        width: 800px;
        flex-direction: row;
        justify-content:space-around;
        padding: 10px;
        border: 2px solid black;
        background-color: rgb(226, 17, 63);
        }

        .contenedorflexj3{

            display: flex;
            width: 500%;
            height: 600%;
            flex-direction: row;
            justify-content:space-between;
            padding: 10px;
            border: 2px solid black;
            background-color: rgb(39, 95, 160);
            }



 


.item{

background-color: aqua;
width: 100px;
margin: 10px;
border: 2px solid;
text-align: center;
line-height: 25px;
font-size: 25px;


}
.item:hover{

    background-color: aquamarine;
}