*{
    margin: 0;
    padding: 0;

}
.titulo
{
    font-size: 40px;
    text-align: center;

}
.subtitulo
{
    margin: 10px;
    text-align: center;

}
.img
{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30PX;

}
.contener
{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}
@media screen and (max-width:1200px)
{
body
{
    background-color: black;
    color: blue;
}    
.titulo
{
    font-size: 30px;
}
}
@media screen and (max-width:900px) 
{
    body
    {
        background-color: aqua;
        color: brown;
    }
    .titulo
    {
        font-size: 25px;
    }
    .img
    {
        width: 70%;
    }
}

@media screen and (max-width:600px) 
{
    body
    {
        background-color: rgb(255, 0, 0);
        color: rgb(211, 24, 195);
    }
    .titulo
    {
        font-size: 25px;
    }
    .subtitulo
    {
        font-size: 20px;
    }
    .img
    {
        width: 70%;
    }
}

@media screen and (max-width:400px) 
{
    body
    {
        background-color: rgb(0, 255, 42);
        color: rgb(240, 236, 10);
    }
    .titulo
    {
        font-size: 20px;
    }
    .subtitulo
    {
        font-size: 15px;
    }
    .img
    {
        width: 70%;
    }
}