*{
    
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(169, 199, 240);
    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.fondo{
    padding: 32px 0;
    background-color: rgb(84, 89, 232);

}
.menu{
position: absolute;
top: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
}
.logo {
  
    font-size: 30px;
    color: rgb(18, 60, 165);
    font-weight: 800;
    text-transform: uppercase;
}
.menu .navbar ul li 
{
  position: relative;
  float: left;
}
.menu .navbar ul li a
{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}
.menu .navbar ul li a:hover{
    color: darkcyan;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
@media(max-width:991px)
{
    .menu
    {
        padding: 30px;
    }
    .menu label
    {
        display:initial;
    }
    .menu .navbar
    {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(5, 5, 4);
        display: none;
    }
    .menu .navbar ul li
     {
        width: 100%;
    }    
    #menu:checked ~ .navbar
    {
        display: initial;
    }
}
